@import './../../scss/all.scss';

.planos {
    background-color: $color-6;
    height: auto;
    padding: 80px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    .default-title {
        opacity: 0;
        margin: 0;
    }

    .container {
        align-items: center;
        justify-content: space-evenly;
        gap: 40px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__modal {
        opacity: 0;
        background-color: $color-6-400;
        height: 100%;
        min-height: 255px;
        max-height: 100%;
        width: 450px;
        max-width: 70%;
        margin: 20px 0 40px;
        // border: 3px solid $color-2;
        box-shadow:  10px 10px 20px #bebebe;
        border-radius: 16px;
        padding: 30px;
        

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;

        @include tablet {
            max-width: 90%;
         }

        &.recomendado {
            position: relative;
            &::after {
                content: 'Mais vendido!';
                background-color: $color-2;
                color: $white;
                position: absolute;
                top: 100%;
                padding: 8px 80px;
                border-radius: 0 0 16px 16px;
                font-size: 18px;

                @include tablet {
                    font-size: 14px;
                 }
            }
        }

        ul {
            min-height: 200px;

            li {
                margin: 0 0 16px;
                list-style: inside;
            }
        }

        @include mobile {
            margin: 16px 0 40px;
        }

        h4 {
            font-size: 32px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
        }
        
        
        p {
            padding: 10px 20px;
            background-color: $color-8;
            color: $white;
            font-weight: 600;
            font-size: 22px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: darken($color: $color-8, $amount: 20%);
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            color: #0e0e0e;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            width: 30px;
        }
    }

    &.animate {
        .default-title {
            @include fade("in","right", 300px, 4s);
        }
        
        .planos__modal {
            @include fade("in","up", 200px, 5s);
        }
    }

}