@import './../../scss/all.scss';

.footer {
    background-color: $black;
    min-height: 400px;
    padding: 80px 0;
    background-size: cover !important;
    background-position: center !important;
    

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    gap: 40px;

    .default-title {
        opacity: 0;
        color: $white;
    }

    .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            gap: 30px;
        }
    }

    p {
        // opacity: 0;
        z-index: 10;
        color: $white;
        font-size: 28px;
        text-align: left;
    }


    img {
        max-width: 250px;
        height: auto;
        margin: 0 auto 0 0;
        margin-bottom: 40px;

        @include tablet {
            margin: 0 auto;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include tablet {
            gap: 10px;
        }

        

        li {
            color: $white;
            font-size: 18px;

            @include tablet {
                font-size: 14px;
                line-height: 16px;
            }

            b {
                font-weight: 500;
            }

            &:not(:first-child) {
                cursor: pointer;
                
                &:hover {
                    text-decoration: underline;
                }
            }

            &:first-child {
                font-size: 28px;
                font-weight: 800;
                margin-bottom: 8px;

                @include tablet {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }


    &.animate {
        // .default-title {
        //     @include fade("in","right", 300px, 4s);
        // }
        // img {
        //     @include fade("in","right", 300px, 4s, .5s);
        // }
        // p {
        //     @include fade("in","right", 300px, 4s, 1s);
        // }
    }

}