@import './../../scss/all.scss';

.banner {
    background-image: $gradient-1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    @include tablet {
        height: auto;
        min-height: 50vh;
    }
    
    &__image {
        max-width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        
    }

    &__tree {
        width: 105vw;
        position: absolute;
        top: 0;
    }

    &__text {
        
        position: absolute;
        top: 25%;
        left: 3%;
        
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        max-width: 90vw;

        @include tablet {
            top: 20%;
        }


        h2 {
            @include fade("in","right", 200px, 4s);
            // max-width: 75%;
            width: 100%;
            color: $white;
            font-size: 50px;
            line-height: 50px;
            font-weight: $font-weight-700;

            @include desktop {
                line-height: 48px;
                font-size: 50px;
                text-align: left;
            }

            @include tablet {
                line-height: 48px;
                font-size: 50px;
                text-align: left;
            }
            
            @include mobile {
                line-height: 28px;
                font-size: 28px;
            }
        }

        p {
            @include fade("in","right", 200px, 4s , 500ms);
            color: $white;
            font-size: 32px;
            line-height: 40px;
            font-weight: $font-weight-400;
            @include tablet {
                font-size: 20px;
                line-height: 26px;
                text-align: left;
            }
            @include mobile {
                line-height: 16px;
                font-size: 16px;
            }
        }

        &__buttons {
            @include fade("in","right", 200px, 4s , 800ms);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 20px;


            .secondary-button {
                color: $white;
                border-color: $white;

                &:hover {
                    background-color: $white;
                    color: $color-1;
                }
            }
        }

        &__arrow {
            position: absolute;
            top: 100%;
            left: 0;
            max-height: 0px;
            transition: 300ms all cubic-bezier(0.13, 1.02, 0.32, 0.97);
            transform: rotate(-90deg);
            width: 20px;
        }
    }

    &__person {
        @include fade("in","left", 300px, 4s);
        position: absolute;
        bottom: -420px;
        right: 0%;
        height: auto;
        width: 52vw;
        mix-blend-mode: luminosity;
        opacity: .7;
    }

}